body {
    background-color: #999;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    font-size: 30px;
    font-size: 1.6em;
    text-align: center
}

header,
main,
footer {
    background-color: #ddd;

}

h2 {
    text-align: center;
    font-size: 30px;
}

img {
    width: 100%;
    max-width: 100%;
}

section {
    margin-right: auto;
    font-family: 'Calibri';
}

p {
    padding: 0em;
}

/*
body {
    color: white;
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }
*/